<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./samples/head.ejs')%>
    <link rel="stylesheet" href="./styles/error.css">
</head>
<body>
    <h1>Oops... Seems like an Error :( You should probably visit this pages, bro</h1><br>
    <div><a href="/page1">page1</a>
        <a href="/page2">page2</a>
        <a href="/page4">page4</a>
</body>
</html>