<!DOCTYPE html>
<html lang="en">
<head>
           <%- include('./samples/head.ejs')%>
    <link rel="stylesheet" href="./styles/fixing.css">
</head>
<body>
    <h1>Page you just tried to visit now is fixing, sorry...<br> But we may offer you to visit one of these pages</h1><br>
    <div><a href="/page1" class="page1">page1</a><br>
        <a href="/page2" class="page2">page2</a><br>
        <a href="/page4" class="page4">page4</a><br>
</body>
</html>