<!DOCTYPE html>
<html lang="en">
    <head>
    <%- include('./samples/head.ejs')%>
    <link rel="stylesheet" href="./styles/page4.css">
</head>
<body>
    <a href="/page2" class="page2">page2</a><br>
    <a href="/page1" class="page1">page1</a><br>
</body>
</html>